.single-user-wrapper {
  width: 80%;
}

.single-user-wrapper div {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
}
.banner {
  background-color: lightgray;
  height: 200px;
  margin-bottom: 1rem;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.user-profile {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;

  width: 300px;
  border: 1px solid #ddd;
  padding: 1rem;
}

.profile-picture {
  --size: 175px;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  /* border: 6px solid black; */
}

.profile {
  /* font-weight: 450; */
}

.follow-list {
  display: flex;
  gap: 2rem;
  font-size: 0.85em;
}

.follow-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-list div span {
  color: gray;
}

.btn-follow {
  /* width: 100%; */
  /* justify-content: center; */
}

.blog-list-container {
  padding: 1rem;
  flex: 1;
  border: 1px solid #ddd;
}

.blog-list-container .heading {
  margin-bottom: 1rem;
  /* font-size: 2rem; */
}

.created-blog .blog-list,
.saved-blog .blog-list {
  max-height: 500px;
  overflow-y: auto;
}

.user-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  text-transform: capitalize;
}

.user-stats > div {
  min-width: 200px;
  box-shadow: 0px 0px 1px #252525;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fcfcfc;

  /* flex-grow: 1; */
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .user-stats > div:last-child {
  flex-grow: 0.12;
} */

.user-stats .user-stats-icon svg {
  font-size: 3rem;
  color: rgb(187, 186, 186);
}

.user-stats .count {
  font-size: 3rem;
  font-weight: bold;
}

.user-stats .label {
  color: gray;
}
