.article-controls {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

.btn-edit,
.btn-delete,
.btn-like,
.btn-publish,
.btn-bookmark {
  background-color: transparent;
  color: #131313;
  padding: 0;
}
