.articles-wrapper {
  /* margin: 5rem auto; */
  width: 60%;
}

.articles-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  text-transform: capitalize;
}
