:root {
  --primary-color: rgb(73, 73, 255);
  --color: #f5f5f5;
  --secondary-text-color: rgba(0, 0, 0, 0.3);

  /* FED892 //yellow */
  /* FD8369 //orange */
  /* 56CAD8 //blue */

  --nav-height: 12vh;
}
